@import variables, mixins

.header
    width: 100%
    height: 109px
    display: flex
    margin: 0 0 8px
    background: $white
    align-items: center
    padding: 0 50px 0 74px

    @include fontBold(50px)

    &__wrapper
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between

    &__content
        display: flex
        align-items: center
        background: $white
        transition: .3s top linear, .4s opacity linear

    &__logo
        margin-right: 65px

        @include fontBold(50px, $green)

    &__form
        width: 100%
        max-width: 652px

        &__input
            position: relative

            & input
                width: 100%
                height: 63px
                font-size: 25px
                padding-left: 80px
                border-radius: 18px
                background: #eff4fa80
                box-shadow: 0px 0px 10px #42445a2e

                &::placeholder
                    @include fontRegular(25px, $darkBlue)

        &__inputIcon
            position: absolute
            top: 50%
            left: 30px
            transform: translateY(-50%)

            @include icon($darkBlue, 25px)

    &__cardData
        display: flex
        min-width: 150px
        margin: 0 45px 0 30px
        align-items: flex-end

        @include fontRegular(18px, $darkBlue)

    &__cardDataIcon
        margin-left: 8px

        @include icon($green, 26px)

    &__burgerIcon
        @include icon($green, 40px)

    @media (max-width: 991px)
        padding: 0 25px
        position: relative

        &__logo
            margin-right: 0

        &__content
            width: 100%
            opacity: 0
            padding: 0 30px 30px
            // height: calc(100vh - 109px)
            position: absolute
            top: -100%
            left: 0

        &[class$='active']
            .header__content
                top: 100%
                opacity: 1

    @media (max-width: 767px)
        &__logo
            font-size: 40px

    @media (max-width: 574px)
        &__content
            display: block

        &__cardData
            margin: 20px 0
            justify-content: center
