@import variables, mixins

.products
    &__wrapper
        width: 100%
        display: flex
        flex-wrap: wrap
        max-height: 765px
        align-items: flex-start
        flex-direction: column
        justify-content: space-between
