@import variables, mixins

.products
    width: 100%

    &__title 
        @include fontRegular(40px, $darkBlue)
    
    &__subtitle
        margin-bottom: 28px
        text-transform: uppercase
        
        @include fontRegular(20px, #C4C4C4)

    &__wrapper
        display: flex
        flex-wrap: wrap
        margin: -10px
        max-height: 765px
        align-items: flex-start
        flex-direction: column
        justify-content: space-between
    
    &__more
        margin: 25px 0 40px
        text-align: center

        &__btn
            @include moreBtn(233px, 47px, 20px, $white)
        
        &__icon
            @include icon($blue, 18px)