@import variables, mixins

.product
    display: flex
    cursor: pointer
    transition: .3s
    background: $white
    position: relative
    border-radius: 15px
    align-items: center
    padding: 18px 10px 14px
    justify-content: space-between
    box-shadow: 0px 0px 10px #00000026

    &__title
        margin-bottom: 7px
        transition: .3s

        @include fontRegular(15px, $black)

    &__sale
        transition: .3s

        &_discount
            width: 55px
            height: 13px
            display: flex
            transition: .3s
            font-size: 10px
            border-radius: 5px
            align-items: center
            background: #FF8D44
            justify-content: center

            @include fontBold(10px, $white)

        &_popular
            width: 105px
            height: 18px
            display: none
            transition: .3s
            background: $blue
            border-radius: 6px
            align-items: center
            justify-content: center

            @include fontBold(13px, $white)

    &__img
        & span
            & img
                object-fit: contain!important

    &__hr
        width: 44px
        margin: 14px 0 14px 55px
        border: 1px solid #00000070

    &__price
        transition: .3s

        &_old, &_new
            transition: .3s

            & span
            @include fontRegular(14px, #00000070)

        &_old
            position: relative

            @include fontBold(14px, $black)

            &::before
                content: ''
                width: 100%
                height: 1px
                display: block
                background: rgb(255, 5, 5, 76%)
                position: absolute
                top: 50%
                transform: translateY(-50%)

        &_new
            @include fontBold(16px, $black)

    &__btn
        right: 10px
        bottom: 10px
        transition: .3s

        @include productBtn(30px, 30px, #EEF3F9, $black, 18px)

    &:hover
        height: 288px
        display: block
        text-align: center
        background: #EEF3F9
        padding: 18px 10px 14px
        z-index: 2

        .product__title
            bottom: 35px
            position: absolute

            @include fontBold(20px, $darkBlue)

        .product__sale
            display: flex
            align-items: center
            justify-content: flex-start

            &_discount
                width: 75px
                height: 18px
                font-size: 13px
                margin-right: 9px
                border-radius: 6px

            &_popular
                display: flex

        .product__hr
            display: none

        .product__oldPrice, .product__newPrice
            max-width: 150px
            text-align: center

        .product__img
            margin: 15px 0 40px

            & span
                height: 150px!important
                width: 100%!important

        .product__price
            display: flex
            align-items: center
            flex-direction: row-reverse
            position: absolute
            bottom: 15px

        .product__btn
            bottom: 15px
            right: 15px
            z-index: 1000

            @include productBtn(30px, 30px, $white, $black, 18px)

    @media (max-width: 767px)
        justify-content: space-around
