@import variables, mixins

.products
    &__title
        @include fontRegular(40px, $darkBlue)

    &__subtitle
        margin-bottom: 28px
        text-transform: uppercase

        @include fontRegular(20px, #C4C4C4)

    &__wrapper
        gap: 20px
        width: 100%
        display: grid
        grid-auto-rows: minmax(134px, auto)
        grid-template-columns: repeat(4, 1fr)

    &__more
        margin: 25px 0 40px
        text-align: center

        &__btn
            @include moreBtn(233px, 47px, 20px, $white)

        &__icon
            @include icon($blue, 18px)

    @media (max-width: 991px)
        &__wrapper
            grid-template-columns: repeat(3, 1fr)

    @media (max-width: 768px)
        &__title, &__subtitle
            text-align: center

        &__wrapper
            grid-template-columns: repeat(2, 1fr)

    @media (max-width: 575px)
        &__title
            font-size: 30px

        &__subtitle
            font-size: 18px

        &__wrapper
            justify-content: center
            grid-template-columns: 70%
